<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="fragments/layout.html :: html_head"/>
</head>

<body>
<div th:replace="fragments/layout.html :: menu"/>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h2>Leave Report (ALL)</h2>
	<div>
	
		<div></div>	
			<form th:action="@{/compensation}"> 
				Name:
				<input type="text" name="keyword" required />
				
				<input type="submit"  value="Search" />	
					
			</form>
		<div></div>
		
	</div>
	<div th:fragment="menu" id="menu" >
		<tr>
			<td>
				<input type="button" value="By Particular Period"
				onclick="window.location.href='/report'; return false"
				class="button" /> 
				<input type="button" value="Compensation Claims"
				onclick="window.location.href='/compensation'; return false"
				class="button" /> 
			</td>
		</tr>
	</div>
	
	
   <div class="table-responsive" th:if="${not #lists.isEmpty(listCompensations)}">
		<table style="border: 1;">
			<tr class="listHeading">
				<th>Calim ID</th>
				<th>Name</th>
				<th>Date Applied</th>
				<th>getDateApproved</th>
				<th>Total Compensation</th>
				<th>Status</th>
				<th>Mgr Comments</th>
			</tr>
			<tr th:each="Compensation : ${listCompensations}">
                <td th:text="${Compensation.getClaimId()}"></td>
                <td th:text="${Compensation.getEmployeeId()}"></td>
                <td th:text="${Compensation.getDateApplied()}"></td>
                <td th:text="${Compensation.getDateApproved()}"></td>
				<td th:text="${Compensation.getTotalCompensation()}"></td>
				<td th:text="${Compensation.getStatus()}"></td>
				<td th:text="${Compensation.getManagerComment()}"></td>
			</tr>
		</table>
	</div>
   
   
	<div>
		<a th:href="@{/compensation/export}">Export to CSV</a>
	</div>
	
	<div>
		<input type="button" value="Back to Home"
					onclick="window.location.href='/staff/history/1/5?sortField=applicationId&sortDir=desc'; return false"
					class="button" /> 
	</div>
	
</body>

</html>
