<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">
    <meta charset="ISO-8859-1">
    <head>
        <link th:href="@{/css/simple.css}" rel="stylesheet"/>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" >Leave Application Processing System
                    (LAPS)</a>
            </div>
        </div>
    </nav>
        <div id="menu" th:fragment="menu" />
        <h3>Leave Application Details</h3>
        <div class="table-responsive">
        <table th:object="${app}">
            <tr>
                <th align="center"><span th:text="#{fieldLabel.employeeName}"></span></th>
                <td align="center" padding="10px"><span th:text="${employee.name}"/></td>
            </tr>
            <tr>
                <th align="center"><span th:text="#{fieldLabel.LeaveType}"></span></th>
                <td align="center" padding="10px" th:text="*{leaveType}"></td>
            </tr>
            <tr>
                <th align="center"><span th:text="#{fieldLabel.LeavePeriod}"></span></th>
                <td align="center" padding="10px"><span th:text="*{#dates.format(fromDate, 'dd/MM/yyyy')}"/>&mdash;<span th:text="*{#dates.format(toDate, 'dd/MM/yyyy')}"/></td>
            </tr>
            <tr>
                <th align="center"><span th:text="#{fieldLabel.LeaveDays}"></span></th>
                <td align="center" padding="10px" th:text="*{countedLeaveDays}"></td>
            </tr>
            <tr>
                <th align="center"><span th:text="#{fieldLabel.LeaveReason}"></span></th>
                <td align="center" padding="10px" th:text="*{reason}"></td>
            </tr>
            <tr>
                <th align="center"><span th:text="#{fieldLabel.contactPhone}"></span></th>
                <td align="center" padding="10px" th:text="*{contactPhone}"></td>
            </tr>
            <tr>
                <th align="center"><span th:text="#{fieldLabel.workDissemination}"></span></th>
                <td align="center" padding="10px" th:text="*{workDissemination}"></td>
            </tr>
        </table>
        <table th:object="${employee}">
            <tr>
                <th align="center"><span th:text="#{fieldLabel.MedicalLeaveRemaining}"></th>
                <td align="center" padding="10px" th:text="*{medicalLeaveRemaining}"></td>
            </tr>
            <tr>
                <th align="center"><span th:text="#{fieldLabel.AnnualLeaveRemaining}"></th>
                <td align="center" padding="10px" th:text="*{annualLeaveRemaining}"></td>
            </tr>
        </table>
        </div>
        <!--TODO: Fix now that LeaveType is string, and add text for manager comment-->
        <div class="table-responsive" th:if="${app.status.toString().equals('APPLIED')||app.status.toString().equals('UPDATED')}">
        <form action="#" th:action="@{/manager/application/edit/}+${app.applicationId}" th:object="${decision}" method="post">
            <table>
                <tr>
                    <td>
                        <fieldset>
                            <input type="radio" th:field="*{decision}" th:value="APPROVED"/>
                            <label th:text="#{caption.approve}"></label><br/>
                            <input type="radio" th:field="*{decision}" th:value="REJECTED"/>
                            <label th:text="#{caption.reject}"></label>
                        </fieldset>
                    </td>
                    <td>
                        <fieldset>
                            <span th:text="#{fieldLabel.managerComment}"></span><br>
                            <textarea rows="2" cols="40" th:field="*{comment}"></textarea>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td><input class="blcass" type="submit" value="Update"/></td>
                </tr>
            </table>    
        </form>

        <!--Show history of other applications within the same period-->
        <h4>Other Leave Applications in the same period</h4>
        <table class="table table-striped">
            <tr>
                <th><span th:text="#{fieldLabel.employeeName}">employee Name</span></th>
                <th><span th:text="#{fieldLabel.LeavePeriod}">Requested Leave Period</span></th>
                <th><span th:text="#{fieldLabel.LeaveType}">Requested Leave Type</span></th>
                <th><span th:text="#{fieldLabel.LeaveReason}">Reason</span></th>
                <th><span th:text="#{fieldLabel.status}">Status</span></th>
            </tr>
            <tr th:each="object: ${otherApps}">
                <td padding="10px" th:text="${object[0]}"></td>
                <td padding="10px"><span th:text="${#dates.format(object[1], 'dd/MM/yyyy')}"/>&mdash;<span th:text="${#dates.format(object[2], 'dd/MM/yyyy')}"/></td>
                <td padding="10px" th:text="${object[3]}"></td>
                <td padding="10px" th:text="${object[4]}"></td>
                <td padding="10px" th:text="${object[5]}"></td>
            </tr>
        </table>
        </div>
    <a th:href="@{/manager/pending}" > Back</a>
    </body>
</html>
