<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
	<h3>Employee List page</h3>
	
	<div th:fragment="menu" id="menu">
		<table>
			<tr>
				<td>
					<input type="button" value="By Particular Period"
					onclick="window.location.href='/period/report'; return false"
					class="button" /> 
					<input type="button" value="Compensation Claims"
					onclick="window.location.href='/compensation'; return false"
					class="button" /> 
				</td>
				
			</tr>
			<br>
			<tr>
				<select id="leavetype" name="leave">
				   <option value="/report"></option>
				   <option value="ANNUAL">Annual Leave</option>
				   <option value="MEDICAL">Medical Leave</option>
				   <option value="/compensation">Compensation Leave</option>
				</select>
			</tr>
			
			<tr>
				<td colspan="3"><input type="submit" onclick="window.location.href=value; return false"/></td>
			</tr>
		</table>
	</div>
	<div> <!--th:if="${not #lists.isEmpty(employeeList)}">-->
		<table style="border: 1;">

			<tr class="listHeading">
				<!--<th><span th:text="#{fieldLabel.name}"></span></th>-->
				<th>Name</th>
				<th>Manager</th>
				<th>Leave Type</th>
				<th>From Date</th>
				<th>End Date</th>
				<th>Status</th>
			</tr>
			<tr> <!--th:each="employee : ${employeeList}" class="listRecord">-->
				<td>Hello</td>
				<td>Haha</td>
				<td>13</td>
				<td>11</td>
				<td>5</td>
				<!--<td align="left" th:text="${employee.employeeId}">Employee Id</td>
				<td align="left" th:text="${employee.managerId}">Manager Id</td>
				<td align="left" th:text="${employee.name}">Name</td>

				<td><a th:href="@{/admin/employee/edit/}+${employee.employeeId}" class="btn btn-default"><span
							th:text="#{caption.edit}"></span></a></td>
				<td><a th:href="@{/admin/employee/delete/}+${employee.employeeId}" class="btn btn-default"><span
							th:text="#{caption.delete}"></span></a></td>-->
			</tr>
		</table>
	</div>
	<div>
		<input type="button" value="Back to Home"
					onclick="window.location.href='/period/report'; return false"
					class="button" /> 
	</div>

</body>

</html>