<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>
<body>
<div th:replace="fragments/layout.html :: menu"/>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Employee Compensation Claim History</h2>
        <div class="table-responsive" th:if="${not #lists.isEmpty(claims)}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span th:text="#{fieldLabel.claimId}"/></th>
                    <th><span th:text="#{fieldLabel.overtimeHours}"/></th>
                    <th><span th:text="#{fieldLabel.compensationClaim}"/></th>
                    <th><span th:text="#{fieldLabel.dateApplied}"/></th>
                    <th><span th:text="#{fieldLabel.overtimeStatus}"/></th>
                    <th><span th:text="#{fieldLabel.dateApproved}"/></th>
                </tr>                   
            </thead>
            <tbody>
                <tr th:each="claim:${claims}">
                    <td th:text="${claim.claimId}"/>
                    <td th:text="${claim.getTotalHours()}"/>
                    <td th:text="${claim.getTotalCompensation()}"/>
                    <td th:text="${claim.dateApplied}"/>
                    <td th:text="${claim.status.toString()}"/>
                    <td th:text="${claim.dateApproved}"/>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</body>
</html>
